<div id="nav-mobile" class="pos-f-t">
    <nav class="navbar navbar-dark bg-light-blue">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <div class="title-header-logo cv-logo">
                <i id="logo-icon" class="fas fa-user-tie fa-2x"></i>
                <span>GLOBAL <strong>CV</strong> BANK</span>
            </div>
        </button>
        <i id="bell-icon" class="far fa-bell"></i>
    </nav>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-main p-4">
            <button (click)="openModal('login')"
                    data-toggle="modal"
                    data-target="#modal-main"
                    type="button"
                    class="btn btn-lg btn-block btn-primary">
                Log in
            </button>
            <button (click)="openModal('regEmployee')"
                    data-toggle="modal"
                    data-target="#modal-main"
                    type="button"
                    class="btn btn-lg btn-block btn-danger">
                Register
            </button>
        </div>
    </div>
</div>

<div class="grid-container">
    <div class="main">
        <div routerLink="/" class="title-header-logo p-2 text-right">
            <i id="logo-icon" class="fas fa-user-tie fa-2x"></i>
            <span>GLOBAL <strong>CV</strong> BANK</span>
        </div>
        <ul class="menu-btns">
            <i id="bell-icon" class="far fa-bell"></i>
            <li>
                <button
                        (click)="openModal('login')"
                        data-toggle="modal" data-target="#modal-main" type="button"
                        class="btn btn-primary">
                    Log in
                </button>
            </li>
            <li>
                <button
                        (click)="openModal('regEmployee')"
                        data-toggle="modal" data-target="#modal-main"
                        type="button"
                        class="btn btn-danger">
                    Register
                </button>
            </li>
        </ul>
    </div>
    <aside class="left"></aside>
    <aside class="right"></aside>
</div>

<!--<div id="main-footer">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-3">-->
                <!--<div class="p-2 text-left">-->
                    <!--<i id="logo-icon" class="fas fa-user-tie fa-2x"></i>&#160;-->
                    <!--<span>GLOBAL <strong>CV</strong> BANK</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-5"></div>-->
            <!--<div class="col-md-4 p-2 d-flex justify-content-around">-->
                <!--<i class="far fa-bell"></i>-->
                <!--<button (click)="openModal('login')" data-toggle="modal" data-target="#modal-main" type="button"-->
                        <!--class="btn btn-primary">-->
                    <!--Sign out-->
                <!--</button>-->
                <!--<button (click)="openModal('regEmployee')" data-toggle="modal" data-target="#modal-main" type="button"-->
                        <!--class="btn btn-danger">-->
                    <!--<i class="fas fa-user-plus"></i> Edward-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->