@import '../../style-variables.scss';

#main-footer {
    background-color: $color-main-blue;
}

.fa-bell {
    position: relative;
    top: 33%;
    cursor: pointer;
}

.fa-user-plus{
    position: relative;
    left: -10px;
}