<div class="bg-light-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
            <i class="fas fa-user-tie"></i> 
            <span>GLOBAL <strong>CV</strong> BANK</span>
      </div>
      <div class="col-md-2">
        <a href="#">About Us</a>
      </div>
      <div class="col-md-2">
          <a href="#">Facebook</a>
      </div>
      <div class="col-md-3">
          <span>Subscribe to our newsletters</span>
      </div>
      <div class="col-md-2">
        Plaut 10, Rehovot
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <a href="#">Contact</a>
      </div>
      <div class="col-md-2">
        <a href="#">Twitter</a>
      </div>
      <div class="col-md-3">
        <div id="subsctibe-email" class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email Adress" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Ok</button>
            </div>
        </div>
      </div>
      <div class="col-md-2">
        +972 58 6688567
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span>&#9400;We-Sher 2018</span>
      </div>
      <div class="col-md-2">
        <a href="#">Terms & Conditions</a>
      </div>
      <div class="col-md-2">
        <a href="#">Instagram</a>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-2">
        info@gsvbank.com
      </div>
    </div>
  </div>
</div>