@import '../../style-variables.scss';

.bg-light-blue {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $color-light-blue;
    color: white;
}

.bg-light-blue a {
    color: white;
}

::placeholder { 
    color: white;
}

#subsctibe-email {
    position: absolute;
    max-width: 80%;
}

@media only screen and (max-width: 576px) {
    #subsctibe-email {
        position: initial;
    }
}

#subsctibe-email input{
    border-radius: 1.4rem 0 0 1.4rem;
    color: white;
    background-color: $color-light-blue;
    border: 1px solid white;
}

#subsctibe-email button{
    width: 4em;
    background-color: white;
    color: $color-light-blue;
    padding: 0px;
    border-radius: 0 1.4rem 1.4rem 0;
    border: 1px solid white;
}