@import '../../../../style-variables.scss';

.item {
  display: inline-block;
  font-size: 0.8rem;
  color: $color-light-gray;
  border: 1px solid $color-light-gray;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.1rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
}
.delete {
  padding-left: 0.3rem;
}