<div class="cv-presentation">
  <div class="h-back">
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left">
      <h1 class="cv-logo">CV</h1>
    </div>
    <div class="cv-section-right">
      <h1>Edward Fish</h1>
      <div class="cv-summary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias deserunt expedita inventore iure nisi quo quod rerum? Accusamus ducimus eius fugiat magni nam nisi odit quaerat similique veniam vero?
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>contact info</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <span class="cv-contact"><i class="fas fa-phone-square"></i>058-6688-888</span>
        <span class="cv-contact"><i class="fas fa-envelope"></i>fisheddie@gmail.com</span>
        <span class="cv-contact"><i class="fas fa-home"></i>Ashdod</span>
        <span class="cv-contact">29.y.o</span>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>summary</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores aspernatur dolor, ducimus, eius eos excepturi fugiat ipsa nam nesciunt nostrum quasi vero voluptates. A consequatur expedita incidunt laudantium repellendus.
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>skills</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit, veritatis. Dolorem, magni, numquam. Aperiam id iusto porro quam sint? Animi architecto at et eveniet iure laboriosam mollitia, nostrum qui?
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>projects</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <p>
          Lorem ipsum dolor sit amet <br>
          <strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit. Eveniet, fugit, veritatis.
          Dolorem, magni, numquam. Aperiam id iusto porro quam sint? Animi architecto at et eveniet iure
          laboriosam mollitia, nostrum qui?
        </p>
        <p>
          Lorem ipsum dolor sit amet <br>
          <strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit. Eveniet, fugit, veritatis.
          Dolorem, magni, numquam. Aperiam id iusto porro quam sint? Animi architecto at et eveniet iure
          laboriosam mollitia, nostrum qui?
        </p>
        <p>
          Lorem ipsum dolor sit amet <br>
          <strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit. Eveniet, fugit, veritatis.
          Dolorem, magni, numquam. Aperiam id iusto porro quam sint? Animi architecto at et eveniet iure
          laboriosam mollitia, nostrum qui?
        </p>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>education</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        Eveniet, fugit, veritatis.
        <br>
        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
        <br>
        Eveniet, fugit, veritatis.
        <br>
        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>
        <br>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>achievements</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit, veritatis.</strong>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>languages</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit, veritatis.</strong>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>other</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit, veritatis.</strong>
        <br><br>
      </div>
    </div>
  </div>

</div>