<div class="cv-presentation">
  <div class="h-back template-{{template}}">
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left">
      <h1 class="cv-logo template-{{template}}">CV</h1>
    </div>
    <div class="cv-section-right">
      <h1>{{cv.personal_info.first_name}} {{cv.personal_info.second_name}}</h1>
      <div class="cv-summary">
       {{cv.personal_info.about}}
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>contact info</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <span class="cv-contact">
          <i class="fas fa-phone-square"></i>
          {{cv.contact_info.phone}}
        </span>
        <span class="cv-contact"><i class="fas fa-envelope"></i>
          {{cv.contact_info.email}}
        </span>
        <span class="cv-contact"><i class="fas fa-home"></i>
          {{cv.contact_info.address}}
        </span>
        <span class="cv-contact">
          {{cv.personal_info.birthday}} y.o.
        </span>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>summary</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        {{cv.personal_info.summary}}
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>skills</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <span *ngFor="let skill of cv.prof_info.skills">
          <!--TODO get skills title from back-->
          {{skill}};
        </span>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>projects</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <p *ngFor="let job of cv.prof_info.jobs">
          {{job.date_from}}year - {{job.date_till}}year<br>
          <strong>{{job.company}}</strong>
          {{job.position}} <br>
          {{job.frontend_percentage}}% frontend <br>
          {{job.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>education</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <p *ngFor="let education of cv.personal_info.education">
          {{education.graduation_year}} year
          <br>
          <strong>{{education.school}} | {{education.degree}}</strong>
          <br>
          {{education.location}}
          <br>
          {{education.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>achievements</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <p *ngFor="let acheivement of cv.prof_info.achievements">
          <strong>
           {{acheivement}}
          </strong>
        </p>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>languages</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <p *ngFor="let lanaguage of cv.personal_info.languages">
          <strong>
          {{lanaguage}}
        </strong>
        </p>
      </div>
    </div>
  </div>
  <div class="cv-section-grid-container">
    <div class="cv-section-left"><h3>other</h3></div>
    <div class="cv-section-right">
      <div class="cv-data-container">
        <strong>
          <!-- TODO footer info-->
        </strong>
        <br><br>
      </div>
    </div>
  </div>

</div>