  <div class="cabinet-menu">
    <a routerLink="cvs-manager"
      role="button"
      aria-expanded="false"
      aria-controls="mangecvs">
      <h3>
        <i class="far fa-user"></i> Manage CVs
      </h3>
    </a>

    <a routerLink="statistics"
      role="button"
      aria-expanded="false"
      aria-controls="statistics">
      <h3>
        <i class="fas fa-database"></i> Statistics
      </h3>
    </a>

    <a routerLink="settings"
      role="button"
      aria-expanded="false"
      aria-controls="settings">
      <h3>
        <i class="fas fa-cogs"></i>Settings
      </h3>
    </a>

  </div>
