@import '../../../style-variables.scss';

:host .heading-back.left {
  width: 30%;
  display: inline-block;
  margin-right: 1rem;
}
.heading-back.right {
  width: calc(70% - 1rem);
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
}
:host .front-block {
}
:host .front-block form {
  margin: 2rem;
}