<form *ngIf="profile" (ngSubmit)="submitEdits(form)" [formGroup]="regForm">
  <h1>
    Settings: {{this.profile.username}}
  </h1>
  <h3>company details</h3>
  <div formGroupName="companyDetails">
    <div class="form-group row">
      <input formControlName="companyName"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="companyName"
             placeholder="company name">
      <label class="col-md-6 d-none d-md-block"
             for="companyName">e.g.Good Intesions LTD</label>
    </div>
    <div class="form-group row">
      <input formControlName="website"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="website" aria-describedby="website"
             placeholder="website">
      <label class="col-md-6 d-none d-md-block"
             for="website">
        e.g.www.goodintensions.com
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="country"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="country"
             placeholder="country">
      <label class="col-md-6 d-none d-md-block"
             for="country">
        e.g.USA
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="cityTown"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="city" aria-describedby="city"
             placeholder="city/town">
      <label class="col-md-6 d-none d-md-block"
             for="city">
        e.g.Chicago
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="street"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="street" aria-describedby="street"
             placeholder="street">
      <label class="col-md-6 d-none d-md-block"
             for="street">
        e.g.Freud
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="houseBuilding"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="building"
             placeholder="house/building">
      <label class="col-md-6 d-none d-md-block"
             for="building">
        e.g.423/18
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="postcode"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="phone"
             placeholder="postcode">
      <label class="col-md-6 d-none d-md-block"
             for="phone">
        e.g.32145
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="phone"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="phone-company"
             placeholder="phone">
      <label class="col-md-6 d-none d-md-block"
             for="phone">
        e.g.+972 53 0000000
      </label>
    </div>
  </div>
  <h3>applicant details</h3>
  <div formGroupName="applicantDetails">
    <div class="form-group row">
      <input formControlName="firstName"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="firstName"
             placeholder="first name">
      <label class="col-md-6 d-none d-md-block"
             for="firstName">
        e.g.John
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="lastName"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="lastName"
             placeholder="last name">
      <label class="col-md-6 d-none d-md-block"
             for="lastName">
        e.g.Johnson
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="position"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="position"
             placeholder="position">
      <label class="col-md-6 d-none d-md-block"
             for="position">
        e.g.CEO
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="email"
             type="email"
             class="form-control col-md-6 col-sm-12"
             id="email"
             placeholder="email">
      <label class="col-md-6 d-none d-md-block"
             for="email">
        e.g.John@mail.com
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="username"
             type="text"
             class="form-control col-md-6 col-sm-12"
             id="username"
             placeholder="username*">
      <label class="col-md-6 d-none d-md-block"
             for="username">e.g.Username</label>
      <!--<div class="error-message" *ngIf="regForm.get('username')">-->
      <!--{{validation_messages.username}}-->
      <!--sdfsdf-->
      <!--</div>-->
    </div>

  </div>
  <div formGroupName="passwordGroup">
    <div class="form-group row">
      <input formControlName="password"
             type="password"
             class="form-control col-md-6 col-sm-12"
             id="password"
             placeholder="new password*">
      <label class="col-md-6 d-none d-md-block"
             for="password">
        8+ symbols including
      </label>
    </div>
    <div class="form-group row">
      <input formControlName="confirmPass"
             type="password"
             class="form-control col-md-6 col-sm-12"
             id="confirmPass"
             placeholder="confirm new password*">
      <label class="col-md-6 d-none d-md-block"
             for="confirmPass">
        re-enter your password
      </label>
    </div>

    <div class="alert alert-danger"
         *ngIf="errors.RegError">
      Registration Error
    </div>
  </div>
  <div class="alert alert-danger"
       *ngIf="errors.RegError">
    Registration Error
  </div>
  <div class="alert alert-danger"
       *ngIf="errors.UserNameExists">
    User with such username already exists!
  </div>
  <div class="alert alert-danger"
       *ngIf="errors.ServerError">
    Internal server error
  </div>
  <div class="form-group row">
    <div class="col-12 message">
      By clicking "Proceed" you confirm that you accept the
      Terms of Service & Privacy Policy
    </div>
    <div class="col-12 buttons-container">
      <button [disabled]="regForm.invalid"
              type="submit"
              class="btn btn-secondary">Proceed
      </button>
    </div>
  </div>
</form>

<ng-container *ngIf="profile == undefined">
  <div class="pr-icon"><i style="" class="fas fa-spinner fa-pulse"></i></div>
</ng-container>