<ng-container *ngIf="folder !== undefined">
  <app-cmp-edit-panel></app-cmp-edit-panel>
  <div *ngIf="!errors.FolderNotFound && !errors.FolderIsEmpty">
    <app-company-cv-prev
      *ngFor="let cv of folder.cvs"
      [cv]="cv"
    ></app-company-cv-prev>
  </div>
<div class="alert alert-danger"
     *ngIf="!folder.cvs">
  Your folder is empty!<br>
  Add some cvs into this folder.
</div>
<div class="alert alert-danger"
     *ngIf="errors.FolderNotFound">
  This folder does not exist anymore!
</div>
<div *ngIf="errors.FolderNotFound" class="alert">
  Folder not found!
</div>

</ng-container>
<ng-container *ngIf="!folder && !errors.FolderNotFound && !errors.FolderNotFound">
  <i style="color: #2C4CB8" class="fas fa-spinner fa-pulse"></i>
</ng-container>
