<div id="footer-block-2">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-3 align-self-center d-flex align-items-center flex-column">
                <div class="text-center">
                    <ul>
                        <li>
                            <strong>
                                <span class="font-weight-light">01</span> REGISTRATE
                            </strong>
                        </li>
                        <li>
                            <strong>
                                <span class="font-weight-light">02</span> CREATE CV
                            </strong>
                        </li>
                        <li>
                            <strong>
                                <span class="font-weight-light">03</span> DESIGN
                            </strong>
                        </li>
                        <li>
                            <strong>
                                <span class="font-weight-light">04</span> APROVE SCILLS
                            </strong>
                        </li>
                        <li>
                            <strong>
                                <span class="font-weight-light">05</span> GET JOB
                            </strong>
                        </li>
                        <li>
                            <strong>
                                <span class="font-weight-light">06</span> ENJOY
                            </strong>
                        </li>
                    </ul>
                </div>
                <div style="width: 100%" class="text-center">
                    <p class="text-center font-weight-light small">
                        Create your CV online, select any <br>
                        template you like most of all, edit <br>
                        online, export it and use anywhere.
                    </p>
                    <button
                        (click)="onCreateCv()"
                        type="button"
                        class="btn btn-danger btn-lg">
                        Create
                    </button>
                </div>
            </div>

            <div class="col-md-6 align-self-center">
                <h1 class="d-flex justify-content-center">
                    <span class="red-line"></span>
                    <span>The ultimate<br>hiring solution</span>
                </h1>
            </div>

            <div class="col-md-3 align-self-end">
                <p class="text-right small mt-auto p-2">
                    GlobalCVBank provides unique
                    <br>hiring services. We have an
                    <br>opportunity to select applicants
                    <br>with already approved skills.
                    <br>That's great and so smart.
                    <br>
                    <br> -Jack Sparrow
                    <br>
                    <span class="font-weight-light">Future intentions SEO</span>
                </p>

            </div>

        </div>
    </div>
</div>
