@import '../../../../../style-variables';

section {
  border-bottom: 1px solid $color-shadow-blue;
  padding: 0.5rem 1rem 0.8rem 1rem;
}

:host input[type=checkbox] {
  display: inline-block;
  vertical-align: top;
  margin: 0.3rem 0;
  transform: scale(2);
  position: relative;
  top: 13px;
  border-radius: 0px;
  background-color: white;
  border: gray 1px solid;
}

:host .badge {
  color: white;
}

:host h1 {
  width: 100%;
  display: block;
  //margin: 0 1.8rem 0 0;
  font-size: 1.6rem;
  font-weight: 400;
  vertical-align: middle;
  color: $color-shadow-blue;
}
span {
  display: block;
  font-size: 0.8rem;
  font-weight: 200;
  color: $color-shadow-blue;
}

.cv-body {
  display: inline-block;
  margin-left: 0.6rem;
}