<form (ngSubmit)="onSubmitForm(searchForm)" #searchForm="ngForm">
  <h3>1. Position</h3>
  <input type="text" name="position" id="position">

  <h3>2. Prof. area</h3>
  <select name="prof-area" id="prof-area">
    <option value="Choose prof. area" default></option>
    <option value="smth"></option>
    <option value="smth"></option>
    <option value="smth"></option>
  </select>

  <h3>3. Region</h3>

  <h3>4. Skills</h3>

  <h3>5. Salary</h3>

  <h3>6. City</h3>

  <h3>7. Citizenship</h3>

  <button type="submit" class="btn btn-danger">Find</button>
</form>