<div class="cv-form-main">
  <div class="front-block">
    <div class="content-form">
      <div class="headings-container">
        <div class="left-heading">
          <h2>
            I am<br/>the job seeker!
          </h2>

        </div>
        <div (click)="openCompanyModal()" class="right-heading">
          <h2>
            I am<br/>hiring!
          </h2>
        </div>

      </div>
      <form (ngSubmit)="submitRegistration()" [formGroup]="regForm">
        <div formGroupName="applicantDetails">
          <div class="form-group row">
            <input formControlName="firstName"
                   type="text"
                   class="form-control col-md-6 col-sm-12"
                   id="firstName"
                   placeholder="first name">
            <label
              class="col-md-6 d-none d-md-block"
              for="firstName">
              e.g.John
            </label>
          </div>
          <div class="form-group row">
            <input formControlName="lastName"
                   type="text"
                   class="form-control col-md-6 col-sm-12"
                   id="lastName"
                   placeholder="last name">
            <label class="col-md-6 d-none d-md-block"
                   for="lastName">
              e.g.Johnson
            </label>
          </div>
          <div class="form-group row">
            <input formControlName="email"
                   type="email"
                   class="form-control col-md-6 col-sm-12"
                   id="email"
                   placeholder="email">
            <label class="col-md-6 d-none d-md-block"
                   for="email">
              e.g.John@mail.com
            </label>
          </div>
          <div class="form-group row">
            <input formControlName="phone"
                   type="text"
                   class="form-control col-md-6 col-sm-12"
                   id="phone"
                   placeholder="phone">
            <label class="col-md-6 d-none d-md-block"
                   for="phone">
              e.g.+972 53 0000000
            </label>
          </div>
          <div class="form-group row">
            <input formControlName="username"
                   type="text"
                   class="form-control col-md-6 col-sm-12"
                   id="username"
                   placeholder="username*">
            <label class="col-md-6 d-none d-md-block"
                   for="username">
              e.g.Username
            </label>
          </div>
        </div>
        <div formGroupName="passwordGroup">
          <div class="form-group row">
            <input formControlName="password"
                   type="password"
                   class="form-control col-md-6 col-sm-12"
                   id="password"
                   placeholder="password">
            <label class="col-md-6 d-none d-md-block"
                   for="password">
              8+ symbols including
            </label>
          </div>
          <div class="form-group row">
            <input formControlName="confirmPass"
                   type="password"
                   class="form-control col-md-6 col-sm-12"
                   id="password-confirm"
                   placeholder="confirm password">
            <label class="col-md-6 d-none d-md-block"
                   for="password-confirm">
              re-enter your password
            </label>
          </div>
        </div>
        <div class="alert alert-danger"
             *ngIf="errors.RegError">
          Registration Error
        </div>
        <!--<a>request secret code</a>-->
        <!--<div class="form-group row">-->
          <!--<input-->
            <!--type="text"-->
            <!--class="form-control col-md-6 col-sm-12"-->
            <!--id="secret-code"-->
            <!--placeholder="secret code">-->
          <!--<label class="col-md-6 d-none d-md-block"-->
                 <!--for="secret-code">-->
            <!--secret code, received by SMS-->
          <!--</label>-->
        <!--</div>-->
        <div class="col-12 message">
          By clicking "Proceed" you confirm that you accept the Terms of Service & Privacy Policy
        </div>

        <div class="col-12 buttons-container">
          <button type="submit"
                  [disabled]="regForm.invalid"
                  class="btn btn-secondary">Proceed
          </button>
        </div>
      </form>
    </div>
  </div>
</div>