@import '../../../style-variables.scss';

body {
    font-family: $main-font;
}

.text-orange {
    color: $color-orange;
}

.bg-light-blue {
    background-color: $color-light-blue;
    padding-top: 50px;
    padding-bottom: 100px;
}

i {
    cursor: pointer;
}

.bg-blue {
    background-color: $color-main-blue;
    height: 30px;
}