<section class="cv-item">
  <div class="prev-container">
    <div class="prev-check">
      <input type="checkbox"
             #checkbox
             (click)="onCheckboxPressed($event)">
    </div>
    <div class="prev-content">
      <h2>MyFirstCVName</h2>
      <p class="cv-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum harum cupiditate, nihil
        ipsum
        velit accusamus culpa cumque est ad ipsa nesciunt quo. Sit, id libero odio enim laboriosam
        sapiente necessitatibus.
      </p>
      <ul class="cv-skills">
        <li>
          <a class="active" href="">skill1</a>
        </li>
        <li>
          <a class="active" href="">skill2</a>
        </li>
        <li>
          <a class="active" href="">skill3</a>
        </li>
        <li>
          <a class="inactive" href="">skill4</a>
        </li>
        <li>
          <a class="inactive" href="">skill5</a>
        </li>
      </ul>
    </div>
    <div class="prev-contacts">
      <p>
        <i class="fas fa-phone"></i>058-6688-88</p>
      <p>
        <i class="far fa-envelope"></i>deadfish@gmail.com</p>
      <p>
        <i class="far fa-building"></i>Ashdod</p>
      <p>
        <i class="far fa-user"></i>29 e.o.</p>
    </div>
    <div class="prev-status"></div>
  </div>
</section>
