<section class="cv-item">
  <div class="prev-container">
    <div class="prev-check">
      <input type="checkbox"
             #checkbox
             (click)="onCheckboxPressed($event)">
    </div>
    <div class="prev-content">
      <h2 (click)="openFullCv()">
        {{cv.title}}
      </h2>
      <p class="cv-description">
        {{cv.about}}
      </p>
      <ul class="cv-skills">
        <li *ngFor="let skill of cv.skills">
          <a class="active">{{skill}}</a>
        </li>
      </ul>
    </div>
    <div class="prev-contacts">
      <p>
        <i class="fas fa-phone"></i>{{cv.phone}}</p>
      <p>
        <i class="far fa-envelope"></i>{{cv.email}}</p>
      <p>
        <i class="far fa-building"></i>{{cv.residence}}</p>
      <p>
        <i class="far fa-user"></i>{{cv.birthday}}</p>
    </div>
    <div class="prev-status">
      <div class="activated" *ngIf="cv.activated">
        approved
      </div>
    </div>
  </div>
</section>
<app-company-cv-full *ngIf="isDeployed" [cv]="cv"></app-company-cv-full>
