@import '../../../../style-variables';

.box {
  margin: 1rem;
  padding: 1rem;
  text-align: center;

  h1 {
    margin: 0 0 0.5rem 0;
    padding: 0 0 1rem 0;
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  .paragraph {
    display: grid;
    margin: 0;
    padding: 0 0 1rem 0;
    grid-template-areas: "par-left par-right";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    font-size: 0.9rem;
    font-weight: 300;
  }
  .left {
    grid-area: par-left;
    text-align: right;
    padding: 0 0.5rem 0 3rem;
  }
  .right {
    grid-area: par-right;
    text-align: left;
    padding: 0 3rem 0 0.5rem;
  }
}

.box-dark {
  background-color: $color-main-blue;
}

.box-light {
  background-color: $color-light-blue;
}
