@import '../../../style-variables.scss';

i {
  font-size: 0.8rem;
  position: relative;
  top: -0.2rem;
}

.unfold {
  display: block;
  float: right;
  padding: 5px;
  position: relative;
  top: -2rem;
  left: 1rem;
}

:host ::ng-deep h3 {
  font-family: $secondary-font;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 1rem 0;
}
:host ::ng-deep input, textarea, select {
  width: 100%;
  border-radius: 25px;
  border: 0;
  outline: 0;
  padding: 7px 20px;
  margin: 5px 0;
}

a h3 {
  color: $color-light;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btns-box {
  display: flex;
  justify-content: space-between;
}

.form-circle-btn {
  height: 35px;
  width: 35px;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  padding: auto;
  align-content: center;
  //margin-left: calc(100% - 28px);
}

input {
  border: white 2px solid;
}

input.ng-touched.ng-invalid {
  border: red 2px solid;
}

hr {
  background-color: white;
}