<section>
  <form method="" action="">
    <h3>1 Title</h3>
    <input type="text" name="first_name" placeholder="first name*"/>
    <input type="text" name="last_name" placeholder="last name*"/>

    <h3>2 Experience</h3>
    <input type="text" name="position_1" placeholder="position"/>
    <input type="text" name="exp_years_1" placeholder="experience years"/>
    <input type="text" name="position_2" placeholder="position"/>
    <input type="text" name="exp_years_2" placeholder="experience years"/>
    <input type="text" name="position_3" placeholder="position"/>
    <input type="text" name="exp_years_3" placeholder="experience years"/>
    <input type="text" name="exp_total" placeholder="total experience years"/>

    <h3>3 Contact info</h3>
    <input type="text" name="residence" placeholder="residence"/>
    <input type="text" name="birthday" placeholder="birthday"/>
    <input type="text" name="phone" placeholder="phone*"/>
    <input type="text" name="email" placeholder="email*"/>
    <input type="text" name="linkedin_link" placeholder="linkedin link"/>

    <h3>4 Decsription</h3>
    <textarea name="description" placeholder="description"></textarea>
    <input type="text" name="choose_preferable_area" placeholder="choose preferable area"/>
    <input type="text" name="choose_position" placeholder="choose preferable position"/>
    <p>salary from</p>
    <select name="salary_from">
      <option value="1500" selected>1500$</option>
      <option value="2000">2000$</option>
      <option value="2500">2500$</option>
      <option value="3000">3000$</option>
      <option value="3500">3500$</option>
      <option value="4000">4000$</option>
    </select>
    <p>salary till</p>
    <select name="salary_till">
      <option value="1500">1500$</option>
      <option value="2000">2000$</option>
      <option value="2500">2500$</option>
      <option value="3000">3000$</option>
      <option value="3500">3500$</option>
      <option value="4000" selected>4000$</option>
    </select>

    <h3>5 Education</h3>
    <input type="text" name="school_institution_name" placeholder="school/institution name*"/>
    <input type="text" name="degree" placeholder="degree*"/>
    <input type="text" name="graduation_year" placeholder="graduation year*"/>
    <input type="text" name="location" placeholder="location"/>
    <textarea name="edu_description" placeholder="description"></textarea>

    <h3>6 Skills (use ctrl)</h3>
    <select name="skills" multiple size="7">
      <option disabled>Select skills</option>
      <option value="s1">skill 1</option>
      <option value="s2">skill 2</option>
      <option value="s3">skill 3</option>
      <option value="s4">skill 4</option>
      <option value="s5">skill 5</option>
      <option value="s6">skill 6</option>
    </select>

    <h3>7 Projects / Jobs</h3>
    <input type="text" name="company_1" placeholder="company"/>

    <p>frontend</p>
    <input type="radio" name="frontend_1" value="none"/> none
    <input type="radio" name="frontend_1" value="10"/> 10%
    <input type="radio" name="frontend_1" value="20"/> 20%
    <input type="radio" name="frontend_1" value="30"/> 30%
    <input type="radio" name="frontend_1" value="40"/> 40%
    <input type="radio" name="frontend_1" value="50"/> 50%
    <input type="radio" name="frontend_1" value="60"/> 60%
    <input type="radio" name="frontend_1" value="70"/> 70%
    <input type="radio" name="frontend_1" value="80"/> 80%
    <input type="radio" name="frontend_1" value="90"/> 90%
    <input type="radio" name="frontend_1" value="100"/> 100%

    <p>backend</p>
    <input type="radio" name="backend_1" value="none"/> none
    <input type="radio" name="backend_1" value="10"/> 10%
    <input type="radio" name="backend_1" value="20"/> 20%
    <input type="radio" name="backend_1" value="30"/> 30%
    <input type="radio" name="backend_1" value="40"/> 40%
    <input type="radio" name="backend_1" value="50"/> 50%
    <input type="radio" name="backend_1" value="60"/> 60%
    <input type="radio" name="backend_1" value="70"/> 70%
    <input type="radio" name="backend_1" value="80"/> 80%
    <input type="radio" name="backend_1" value="90"/> 90%
    <input type="radio" name="backend_1" value="100"/> 100%

    <p>from</p>
    <input type="date" name="date_from_1"/>
    <p>till</p>
    <input type="date" name="date_till_1"/>

    <textarea name="project_description_1" placeholder="project description"></textarea>

    <input type="text" name="company_2" placeholder="company"/>

    <p>frontend</p>
    <input type="radio" name="frontend_2" value="none"/> none
    <label>
      <input type="radio" name="frontend_2" value="10"/> 10%
    </label>
    <input type="radio" name="frontend_2" value="20"/> 20%
    <input type="radio" name="frontend_2" value="30"/> 30%
    <input type="radio" name="frontend_2" value="40"/> 40%
    <input type="radio" name="frontend_2" value="50"/> 50%
    <input type="radio" name="frontend_2" value="60"/> 60%
    <input type="radio" name="frontend_2" value="70"/> 70%
    <input type="radio" name="frontend_2" value="80"/> 80%
    <input type="radio" name="frontend_2" value="90"/> 90%
    <input type="radio" name="frontend_2" value="100"/> 100%

    <p>backend</p>
    <input type="radio" name="backend_2" value="none"/> none
    <input type="radio" name="backend_2" value="10"/> 10%
    <input type="radio" name="backend_2" value="20"/> 20%
    <input type="radio" name="backend_2" value="30"/> 30%
    <input type="radio" name="backend_2" value="40"/> 40%
    <input type="radio" name="backend_2" value="50"/> 50%
    <input type="radio" name="backend_2" value="60"/> 60%
    <input type="radio" name="backend_2" value="70"/> 70%
    <input type="radio" name="backend_2" value="80"/> 80%
    <input type="radio" name="backend_2" value="90"/> 90%
    <input type="radio" name="backend_2" value="100"/> 100%

    <p>from</p>
    <input type="date" name="date_from_2"/>
    <p>till</p>
    <input type="date" name="date_till_2"/>

    <textarea name="project_description_2" placeholder="project description"></textarea>

    <h3>8 Achievements</h3>
    <textarea name="achievement_1" placeholder="description"></textarea>
    <textarea name="achievement_2" placeholder="description"></textarea>
    <textarea name="achievement_3" placeholder="description"></textarea>

    <h3>9 Certifications</h3>
    <textarea name="certification_1" placeholder="description"></textarea>
    <textarea name="certification_2" placeholder="description"></textarea>
    <textarea name="certification_3" placeholder="description"></textarea>

    <h3>10 Languages</h3>
    <input type="text" name="language_1" placeholder="language 1"/>
    <input type="text" name="language_1" placeholder="language 2"/>
    <input type="text" name="language_1" placeholder="language 3"/>

    <h3>11 Footer links</h3>
    <input type="text" name="footer_link_portfolio" placeholder="portfolio"/>
    <input type="text" name="footer_link_github" placeholder="github"/>
    <input type="text" name="footer_link_other" placeholder="other"/>

    <h3>12 Footer info</h3>
    <textarea name="recommendations_req_1" placeholder="recommendations by request"></textarea>
    <textarea name="recommendations_req_2" placeholder="recommendations by request"></textarea>
    <textarea name="recommendations_req_3" placeholder="recommendations by request"></textarea>

    <input type="submit" value="Create profile"/>
  </form>
</section>