@import '../style-variables.scss';

:host ::ng-deep input {
  border-radius: 25px;
}

:host ::ng-deep select {
  border-radius: 3rem;
}

:host ::ng-deep .pr-icon {
  width: 100%;
  position: relative;
  font-size: 3rem;
  color: darkgrey;
  text-align: center;

}