<section class="section-container">
  <div class="section-main">
    <section class="content-container">
      <div class="content-left">
        <app-profile-menu></app-profile-menu>
      </div>
      <div class="content-main">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
  <div class="section-left"></div>
  <div class="section-right"></div>
</section>


<!--<section class="section-container">-->
  <!--<div class="section-main">-->
    <!--<section class="content-container">-->
      <!--<div class="content-left">-->
        <!--<app-profile-menu></app-profile-menu>-->
      <!--</div>-->
      <!--<div class="content-main">-->
        <!--&lt;!&ndash;MAIN CONTENT&ndash;&gt;-->

        <!--<app-profile-cvs></app-profile-cvs>-->

        <!--&lt;!&ndash;/MAIN CONTENT&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="content-right">-->

      <!--</div>-->
    <!--</section>-->
  <!--</div>-->
  <!--<div class="section-left"></div>-->
  <!--<div class="section-right"></div>-->
<!--</section>-->


<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<app-profile-menu></app-profile-menu>-->
    <!--</div>-->
    <!--<div class="col-md-8">-->
      <!--<app-profile-cvs></app-profile-cvs>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->