<section class="section-container">
  <div class="section-main">
    <section class="content-container">
      <div class="content-left">

        <app-profile-menu></app-profile-menu>

      </div>
      <div class="content-main">
        <!--MAIN CONTENT-->
        <app-cvs-edit-panel></app-cvs-edit-panel>
        <app-profile-cvs></app-profile-cvs>
        <hr>


        <div class="box box-light">
          <h1>
            Let us check your skills <br>
            and your cv to be approved <br>
          </h1>
          <h1>
            Improve your chances<br>
            to be hired
          </h1>
          <h1>
            Don't worry <br>
            your cv can be anonimous
          </h1>

          <div class="paragraph">
            <div class="left">
              Unseen before. Now after activating approved status a job-seeker will
              have a professional test on declared skills.
              <br><br>
              Get upproved status now.
            </div>
            <div class="right">
              Great option! You can look for new job and be shure that your current
              employer will know nothing about your intensions.
              <br><br>
              Just activate anonimous status.
            </div>
          </div>

          <button class="btn btn-danger">Activate</button>
        </div>

        <!--/MAIN CONTENT-->
      </div>
    </section>
  </div>
  <div class="section-left"></div>
  <div class="section-right"></div>
</section>


<!--<section class="section-container">-->
  <!--<div class="section-main">-->
    <!--<section class="content-container">-->
      <!--<div class="content-left">-->
        <!--<app-profile-menu></app-profile-menu>-->
      <!--</div>-->
      <!--<div class="content-main">-->
        <!--&lt;!&ndash;MAIN CONTENT&ndash;&gt;-->

        <!--<app-profile-cvs></app-profile-cvs>-->

        <!--&lt;!&ndash;/MAIN CONTENT&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="content-right">-->

      <!--</div>-->
    <!--</section>-->
  <!--</div>-->
  <!--<div class="section-left"></div>-->
  <!--<div class="section-right"></div>-->
<!--</section>-->


<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<app-profile-menu></app-profile-menu>-->
    <!--</div>-->
    <!--<div class="col-md-8">-->
      <!--<app-profile-cvs></app-profile-cvs>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->