<div class="front-block">
    <div class="headings-container">
        <div class="left-heading">
            <h2>
                I am<br/>the job seeker!
            </h2>
        </div>
        <div (click)="openModal('regEmployer')" class="right-heading">
            <h2>
                I am<br/>hiring!
            </h2>
        </div>

    </div>
    <form>
        <div class="form-group row">
            <input type="text" class="form-control col-md-6 col-sm-12" id="firstName" aria-describedby="emailHelp"
                   placeholder="first name">
            <label class="col-md-6 d-none d-md-block" for="firstName">e.g.John</label>
        </div>
        <div class="form-group row">
            <input type="text" class="form-control col-md-6 col-sm-12" id="lastName" aria-describedby="emailHelp"
                   placeholder="last name">
            <label class="col-md-6 d-none d-md-block" for="lastName">e.g.Johnson</label>
        </div>
        <div class="form-group row">
            <input type="email" class="form-control col-md-6 col-sm-12" id="email" aria-describedby="emailHelp"
                   placeholder="email">
            <label class="col-md-6 d-none d-md-block" for="email">e.g.John@mail.com</label>
        </div>
        <div class="form-group row">
            <input type="phone" class="form-control col-md-6 col-sm-12" id="phone" aria-describedby="emailHelp"
                   placeholder="phone">
            <label class="col-md-6 d-none d-md-block" for="phone">e.g.+972 53 0000000</label>
        </div>
        <div class="form-group row">
            <input type="password" class="form-control col-md-6 col-sm-12" id="password" aria-describedby="emailHelp"
                   placeholder="password">
            <label class="col-md-6 d-none d-md-block" for="password">8+ symbols including Abcd123</label>
        </div>
        <div class="form-group row">
            <input type="password" class="form-control col-md-6 col-sm-12" id="password-confirm"
                   aria-describedby="emailHelp" placeholder="confirm password">
            <label class="col-md-6 d-none d-md-block" for="password-confirm">re-enter your password</label>
        </div>
        <a href="#">request secret code</a>
        <div class="form-group row">
            <input type="text" class="form-control col-md-6 col-sm-12" id="secret-code" aria-describedby="emailHelp"
                   placeholder="secret code">
            <label class="col-md-6 d-none d-md-block" for="secret-code">secret code, received by SMS</label>
        </div>
        <div class="col-12 mt-5 mb-3">
            By clicking "Proceed" you confirm that you accept the Terms of Service & Privacy Policy
        </div>

        <div class="col-12">
            <button (click)="submitRegistration()" data-dismiss="modal" aria-label="Close" type="button"
                    class="btn btn-secondary">Proceed
            </button>
        </div>
    </form>
</div>