<section class="section-container">
  <div class="section-main">
    <section class="content-container">
      <div class="content-left">

        <app-company-menu></app-company-menu>

      </div>
      <div class="content-main">
        <!--MAIN CONTENT-->
        <app-company-settings *ngIf="section === SectionUnit.SETTINGS"></app-company-settings>
        <app-cv-search *ngIf="section === SectionUnit.SEARCH"></app-cv-search>
        <!--<app-company-folder *ngIf="section === SectionUnit.FOLDERS"></app-company-folder>-->
        <router-outlet></router-outlet>
        <!--/MAIN CONTENT-->

      </div>
    </section>
  </div>
  <div class="section-left"></div>
  <div class="section-right"></div>
</section>
