<a (click)="openSearchSection()">
  <h1 [class.active]="section === SectionUnit.SEARCH">
    Search
  </h1>
</a>

<a (click)="openSettingsSection()">
  <h1 [class.active]="section === SectionUnit.SETTINGS">
    Settings
  </h1>
</a>

<a (click)="openFoldersSection()">
  <h1 [class.active]="section === SectionUnit.FOLDERS"
      class="f-link">
    My folders
  </h1>
</a>

<!--CONTENT-->
<app-search-form *ngIf="section === SectionUnit.SEARCH"></app-search-form>
<app-folders-list *ngIf="section === SectionUnit.FOLDERS"></app-folders-list>

