@import '../../../style-variables.scss';

ul {
  list-style: none;
  margin: 4rem 0 0 0rem;
}

li {
  margin: 1.5rem 0;
}

img.preview {
  display: block;
  width: inherit;
  transform: translate(-0.3rem, -0.3rem);
}

.template {
  width: 100%;
  background-color: $color-shadow-blue;

}