<section class="section-container">
  <div class="section-main">
    <section class="content-container">
      <div class="content-left">
        <app-cv-form></app-cv-form>
      </div>
      <div class="content-main">
        <!--MAIN CONTENT-->
        <app-cv-actions></app-cv-actions>
        <router-outlet></router-outlet>
        <app-cv-actions></app-cv-actions>
        <hr>

        <div class="box box-dark">
          <h1>
            Make your CV searchable <br>
            Let it work for you
          </h1>
          <button class="btn btn-danger">Activate</button>
        </div>

        <div class="box box-light">
          <h1>
            Let us check your skills <br>
            and your cv to be approved <br>
          </h1>
          <h1>
            Improve your chances<br>
            to be hired
          </h1>
          <h1>
            Don't worry <br>
            your cv can be anonimous
          </h1>

          <div class="paragraph">
            <div class="left">
              Unseen before. Now after activating approved status a job-seeker will
              have a professional test on declared skills.
              <br><br>
              Get upproved status now.
            </div>
            <div class="right">
              Great option! You can look for new job and be shure that your current
              employer will know nothing about your intensions.
              <br><br>
              Just activate anonimous status.
            </div>
          </div>

          <button class="btn btn-danger">Activate</button>
        </div>

        <!--/MAIN CONTENT-->
      </div>
      <div class="content-right">
        <app-cv-choose-view></app-cv-choose-view>
      </div>
    </section>
  </div>
  <div class="section-left"></div>
  <div class="section-right"></div>
</section>

