@import '../../style-variables.scss';



:host ::ng-deep h3 {
  font-family: $secondary-font;
  font-weight: 800;
  font-size: 1.5rem;
}
:host ::ng-deep input[type=text] {
  width: 100%;
  border-radius: 25px;
  border: 0;
  outline: 0;
  padding: 7px 20px;
  margin: 5px;
}

:host hr {
  margin: 0;
}

// GRID
.section-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "sec-left sec-main sec-right";
  grid-template-columns: auto 0.8fr auto;
  grid-template-rows: auto;
  background-color: $color-light-blue;
}

@media (max-width: $display-tablet) {
  .section-container {
    grid-template-columns: auto 0.95fr auto;
  }
}





.section-main {
  grid-area: sec-main;
}

.section-left {
  grid-area: sec-left;
}

.section-right {
  grid-area: sec-right;
  background-color: $color-main-blue;

}

.content-container {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-areas: "content-left content-main content-right";
  grid-template-columns: 25% 60% 15%;
  grid-template-rows: auto;
}

//@media (max-width: $display-mobile) {
//  .content-container {
//    grid-template-columns: auto;
//    grid-template-rows: auto;
//  }
//  .content-left {
//    grid-row-start: 1;
//    grid-row-end: 2;
//  }
//
//  .content-main {
//    grid-row-start: 2;
//    grid-row-end: 3;
//  }
//
//  .content-right {
//    grid-row-start: 3;
//    grid-row-end: 4;
//  }
//}

.content-left {
  grid-area: content-left;
  padding: 20px 20px 0 0;
}

.content-main {
  grid-area: content-main;
  padding: 0 1rem;
  background-color: $color-light;
}

.content-right {
  grid-area: content-right;
  background-color: $color-main-blue;
}

.box {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;

  h1 {
    margin: 0 0 0.5rem 0;
    padding: 0 0 1rem 0;
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  .paragraph {
    display: grid;
    margin: 0;
    padding: 0 0 1rem 0;
    grid-template-areas: "par-left par-right";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    font-size: 0.9rem;
    font-weight: 300;
  }
  .left {
    grid-area: par-left;
    text-align: right;
    padding: 0 0.5rem 0 3rem;
  }
  .right {
    grid-area: par-right;
    text-align: left;
    padding: 0 3rem 0 0.5rem;
  }
}

.box-dark {
  background-color: $color-main-blue;
}

.box-light {
  background-color: $color-light-blue;
}














