@import '../../style-variables.scss';

.modal {
  //z-index: 100;
  backgroung-color: white;
}

:host ::ng-deep a {
  cursor: pointer;
}
:host ::ng-deep button {
  font-family: $secondary-font;
  font-weight: 700;
}
:host ::ng-deep div {
  color: $color-dark-grey;
}
:host ::ng-deep input {
  border-radius: 2rem;
  padding: 1.4rem;
}
.modal-content {
  position: relative;
  //min-width: $modal-width;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  background-color: transparent;
  border: 0;
}
:host ::ng-deep h2 {
  position: relative;
  margin: 0rem;
  font-size: 2rem;
  padding: 0;
  color: $color-light;
}
@media (max-width: 900px) {
  :host ::ng-deep h2 {
    font-size: 1.5rem;
  }
}
:host ::ng-deep h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.6rem;
  height: 4.4rem;
  top: 0.3rem;
  left: -1rem;
  background-color: $color-orange;
}
::ng-deep .heading-back {
  padding: 1.5rem 1rem 1.5rem 2rem;
  background-color: $color-light-blue;
}
:host ::ng-deep .back-block {
  position: relative;
  top: 100px;
  min-width: 100%;
  min-height: 25rem;
  background-color: rgba(150, 170, 230, 0.7);
  box-shadow: 0px 0px 25px #191E5F;
}

:host ::ng-deep .front-block {
  min-width: calc(100% - 3rem);
  float: right;
  padding: 1rem;
  margin: 0 1.5rem;
  position: relative;
  top: -5rem;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.2);
}
