@import '../../style-variables.scss';

.background-blur {
  filter: blur(20px);
  -webkit-filter: blur(20px);
}

.cv-modal {
  transition: all 0.1s ease;
}

.disabled {
  display: none;
}

.cv-modal-background {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

//.cv-modal-content {
  //z-index: 1010;
  //position: absolute;
  //padding: 0;
  //width: 40rem;
  //height: 18rem;
  //left: 50%;
  //top: 50%;
  //transform: translate(-20rem, -15rem);
//}

.modal-opened-back {
  position: fixed;
  width: 100%;
  transition: all 0.4s ease;
}

@media (min-width: $display-mobile) and (max-width: $display-tablet) {
  .cv-modal-content {
    width: 75vw;
    min-height: 55vh;
    transform: translate(-38vw, -28vh);
  }
}

@media (max-width: $display-mobile) {
  .cv-modal-content {
    width: 95vw;
    height: 70vh;
    transform: translate(-48vw, -35vh);
  }
}


