@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

//$modal-width: 700px;

//DISPLAY GRADATION
$display-mobile: 700px;
$display-tablet: 1200px;

//SIZES
$size-section-desktop: 80%;

$main-font: 'Roboto';
$secondary-font: 'Rubik', 'Open Sans';

$font-size-main: 16px;

$color-main-blue: #2C4CB8;
$color-light-blue: #5B7AEE;
$color-light-blue-hover: #5E8DF8;
$color-shadow-blue: #003F5F;
$color-orange: #FD5435;
$color-h3-cv: #AEE2F0;
$color-font-cv: #0F4966;
$color-font-main: #fff;
$color-font-secondary: #B9C0EB;
$color-dark: #000;
$color-dark-grey: #777;
$color-light-gray: #939497;
$color-light: #fff;