<div id="statistic-block-1">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-right bg-txt">
        <strong>ANONYMOUS</strong>
        <br>CV OPTION
      </div>
      <div class="col-md-3 text-left sm-txt">
        Great option! You can look for new job and be sure that yuor current employer will know nothing about your intetention.
        <br>
        <br> Just activate anonymous status.
      </div>
      <div class="col-md-3 text-right bg-txt">
        <strong>APPROVING</strong>
        <br>CV OPTION
      </div>
      <div class="col-md-3 text-left sm-txt">
        Unseens before. Now after activation approves status a job-seeker will have a professional test on declared skills.
        <br>
        <br> Get approved status now.
      </div>
    </div>
  </div>
</div>

<div id="statistic-block-2">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="square d-flex flex-column">
        <h3 class="mt-auto p-2 text-right">
          <span class="orange">growth</span><br>dynamic
        </h3>
      </div>
      <div class="vertical-line"></div>
      <div class="square d-flex flex-column">
        <div class="p-2 text-right">
          <i class="far fa-user fa-2x"></i>
          <h2 class="text-right">243.131</h2>
          <hr>
        </div> 
        <h3 class="mt-auto p-2 text-right">
          <span class="blue">active</span><br>job-seeker
        </h3>
      </div>
      <div class="vertical-line"></div>
      <div class="square d-flex flex-column">
        <div class="p-2 text-right">
          <i class="far fa-building fa-2x"></i>
          <h2 class="text-right">2.234</h2>
          <hr>
        </div>
        <h3 class="mt-auto p-2 text-right">
          <span class="blue">active</span><br>employers
        </h3>
      </div>
      <div class="vertical-line"></div>
      <div class="square d-flex flex-column">
        <div class="p-2 text-right">
          <i class="far fa-handshake fa-2x"></i>
          <h2 class="text-right">16.020</h2>
          <hr>
        </div>
        <h3 class="mt-auto p-2 text-right">
          <span class="blue">signed</span><br>contracts
        </h3>
      </div>
    </div>
  </div>
</div>

<div id="statistic-block-3"></div>

