@import '../../../style-variables.scss';

.modal-content {
  position: relative;
}
:host .back-block h2 {
  position: relative;
  //width: 200px;
  color: $color-light;
  opacity: 1.0;
}
.reg-container {
  width: 20rem;
  padding: 1rem;
}
.reg-container h2 {
  margin-bottom: 1rem;
}
:host .front-block {
  top: 1.5rem;
  z-index: 1100;
  min-width: 25rem;
}
@media (max-width: 1050px) {
  :host .front-block {
    position: static;
    min-width: 100%;
    margin: 30px;
  }
  .back-block {
    display: none;
  }
}
:host .front-block form {
  margin: 6rem 1rem 3rem 1rem;
}
:host .front-block form button {
  margin: 3rem auto;
}
