<div class="back-block">
    <div class="reg-container">
        <h2>
            Don't have<br/>an account?
        </h2>
        <button (click)="openModal('regEmployee')"
                data-toggle="modal"
                data-target="#modal-employee-reg"
                class="btn btn-danger">
            Create
        </button>
    </div>
</div>
<div class="front-block">
    <div class="heading-back">
        <h2>
            I have<br/>an account
        </h2>
    </div>
    <form>
        <div class="form-group">
            <input type="email"
                   class="form-control"
                   id="email"
                   aria-describedby="email"
                   placeholder="enter email">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   id="password"
                   placeholder="password">
        </div>
        <button (click)="login()"
                type="button"
                class="btn btn-secondary">Log in
        </button>
        <button (click)="openModal('regEmployee')"
                class="btn btn-danger btn-reg">
            Create
        </button>
        <button (click)="closeModal()"
                class="btn btn-close">
            Close
        </button>
    </form>
</div>


