<div class="modal-body">
    <div class="containter">
        <div class="back-block">
            <div class="front-block">
                <div class="heading-back">
                    <h2>
                        I have<br/>an account
                    </h2>
                </div>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" aria-describedby="email"
                               placeholder="enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="password">
                    </div>
                    <button (click)="login()" data-dismiss="modal" aria-label="Close" type="button"
                            class="btn btn-secondary">Log in
                    </button>
                </form>
            </div>
            <div class="reg-container">
                <h2>
                    Don't have<br/>an account?
                </h2>
                <button (click)="changeModalState('regEmployee')" data-toggle="modal"
                        data-target="#modal-employee-reg" class="btn btn-danger">Create
                </button>
            </div>
        </div>
    </div>
</div>



<!--<div class="modal-body">-->
    <!--<div class="row">-->
        <!--<div class="col back-block">-->
            <!--<h1>Don't have<br/>an account?-->
            <!--</h1>-->
            <!--<button (click)="changeModalState('registration-employee')" data-toggle="modal"-->
                    <!--data-target="#modal-employee-reg" class="btn btn-danger">Create-->
            <!--</button>-->
        <!--</div>-->
        <!--<div class="col front-block">-->
            <!--<h1>I have<br/>an account-->
            <!--</h1>-->
            <!--<form>-->
                <!--<div class="form-group">-->
                    <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
                           <!--placeholder="Enter email">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                <!--</div>-->
                <!--<button (click)="login()" data-dismiss="modal" aria-label="Close" type="button"-->
                        <!--class="btn btn-secondary">Submit-->
                <!--</button>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="side-block"></div>-->
    <!--</div>-->
<!--</div>-->